In [1]:
import pandas as pd
import numpy as np

In [2]:
credits=pd.read_csv('credits.csv')

In [3]:
credits.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [4]:
credits.shape

(45476, 3)

In [5]:
credits.isnull().sum()

cast    0
crew    0
id      0
dtype: int64

In [6]:
movies=pd.read_csv('movies_metadata1.csv')

C:\Users\HP\AppData\Local\Temp\ipykernel_6736\822594242.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies=pd.read_csv('movies_metadata1.csv')

In [7]:
pd.set_option('display.max_columns',100)
movies.head(1)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0

In [8]:
movies.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [9]:
movies.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [10]:
movies['release_date']=pd.to_datetime(movies['release_date'],errors='coerce') #coerce invalid parsing will be set as nan

In [11]:
movies['year']=movies['release_date'].dt.year

In [12]:
#we already have movie's data from 1916 to 2016

In [13]:
#now from this dataset we will collect movie data of year greater then 2016

In [14]:
movies['year'].value_counts().sort_index()

1874.0       1
1878.0       1
1883.0       1
1887.0       1
1888.0       2
          ...
2015.0    1905
2016.0    1604
2017.0     532
2018.0       5
2020.0       1
Name: year, Length: 135, dtype: int64

In [15]:
#in this data 2017 movies are only present
#we will collect 2018,2019,2020,2021,2022 movies from other dataset

In [16]:
new_movies=movies[movies['year']==2017]

In [17]:
new_movies.shape

(532, 25)

In [18]:
new_movies['id'].dtype

dtype('O')

In [19]:
credits['id'].dtype

dtype('int64')

In [20]:
new_movies['id']=new_movies['id'].astype(int)

C:\Users\HP\AppData\Local\Temp\ipykernel_6736\1406825124.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_movies['id']=new_movies['id'].astype(int)

In [21]:
new_movies.head(1)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,year
26560,False,"{'id': 295, 'name': 'Pirates of the Caribbean ...",230000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://pirates.disney.com/pirates-of-the-carib...,166426,tt1790809,en,Pirates of the Caribbean: Dead Men Tell No Tales,"Thrust into an all-new paycheck, a down-on-his...",133.82782,/xbpSDU3p7YUGlu9Mr6Egg2Vweto.jpg,"[{'name': 'Walt Disney Pictures', 'id': 2}, {'...","[{'iso_3166_1': 'US', 'name': 'United States o...",2017-05-23,794191988.0,129.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Pirates of the Caribbean: Dead Men Tell No Tales,False,6.6,2814.0,2017.0

In [22]:
new_movies1=new_movies.loc[:,['genres','id','title','year']]

In [23]:
new_movies1.reset_index(inplace=True)

In [24]:
new_movies1.drop('index',axis=1,inplace=True)

In [25]:
data=pd.merge(new_movies1,credits,on='id')

In [26]:
data

,genres,id,title,year,cast,crew
0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,"[{'cast_id': 1, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4c9cc3a36847f8236a65', 'de..."
1,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",141052,Justice League,2017.0,"[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '55ef66dbc3a3686f1700a52d', 'de..."
2,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",284053,Thor: Ragnarok,2017.0,"[{'cast_id': 0, 'character': 'Thor Odinson', '...","[{'credit_id': '56a93fa4c3a36872db001e7a', 'de..."
3,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",283995,Guardians of the Galaxy Vol. 2,2017.0,"[{'cast_id': 3, 'character': 'Peter Quill / St...","[{'credit_id': '59171547925141583c0315a6', 'de..."
4,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",245842,The King's Daughter,2017.0,"[{'cast_id': 0, 'character': 'King Louis XIV',...","[{'credit_id': '5431de49c3a36825d300007e', 'de..."
...,...,...,...,...,...,...
526,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",468707,Thick Lashes of Lauri Mäntyvaara,2017.0,"[{'cast_id': 0, 'character': 'Satu', 'credit_i...","[{'credit_id': '597e22f69251415d7801c74a', 'de..."
527,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",461297,Cop and a Half: New Recruit,2017.0,"[{'cast_id': 0, 'character': 'Detective Simmon...","[{'credit_id': '593ba0c29251410593009be3', 'de..."
528,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",455661,In a Heartbeat,2017.0,[],"[{'credit_id': '5981a15c92514151e0011b51', 'de..."
529,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",404604,Mom,2017.0,"[{'cast_id': 1, 'character': 'Devki Sabarwal',...","[{'credit_id': '58ee55bbc3a3683df500bd0f', 'de..."
530,[],461257,Queerama,2017.0,[],"[{'credit_id': '593e676c92514105b702e68e', 'de..."

In [27]:
import ast
#converting str to list
ast.literal_eval(data['genres'][0])

[{'id': 12, 'name': 'Adventure'},
 {'id': 28, 'name': 'Action'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 35, 'name': 'Comedy'}]

In [28]:
data['genres']=data['genres'].apply(lambda x:ast.literal_eval(x))
data['cast']=data['cast'].map(lambda x:ast.literal_eval(x))
data['crew']=data['crew'].apply(lambda x:ast.literal_eval(x))

In [29]:
data['title']=data['title'].str.lower()

In [30]:
def make_list(x):
    gen=[]
    st=' '
    for i in x:
        if i.get('name')=='Science Fiction':
            gen.append('Sci-Fi')
        else:
            gen.append(i.get('name'))
    if gen==[]:
        return np.NaN
    else:
        return(st.join(gen))

In [31]:
data1=data.copy()

In [32]:
data1['genres']=data1.genres.map(lambda x:make_list(x))

In [33]:
data1

,genres,id,title,year,cast,crew
0,Adventure Action Fantasy Comedy,166426,pirates of the caribbean: dead men tell no tales,2017.0,"[{'cast_id': 1, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4c9cc3a36847f8236a65', 'de..."
1,Action Adventure Fantasy Sci-Fi,141052,justice league,2017.0,"[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '55ef66dbc3a3686f1700a52d', 'de..."
2,Action Adventure Fantasy Sci-Fi,284053,thor: ragnarok,2017.0,"[{'cast_id': 0, 'character': 'Thor Odinson', '...","[{'credit_id': '56a93fa4c3a36872db001e7a', 'de..."
3,Action Adventure Comedy Sci-Fi,283995,guardians of the galaxy vol. 2,2017.0,"[{'cast_id': 3, 'character': 'Peter Quill / St...","[{'credit_id': '59171547925141583c0315a6', 'de..."
4,Fantasy Action Adventure,245842,the king's daughter,2017.0,"[{'cast_id': 0, 'character': 'King Louis XIV',...","[{'credit_id': '5431de49c3a36825d300007e', 'de..."
...,...,...,...,...,...,...
526,Romance Comedy,468707,thick lashes of lauri mäntyvaara,2017.0,"[{'cast_id': 0, 'character': 'Satu', 'credit_i...","[{'credit_id': '597e22f69251415d7801c74a', 'de..."
527,Crime Comedy Action Family,461297,cop and a half: new recruit,2017.0,"[{'cast_id': 0, 'character': 'Detective Simmon...","[{'credit_id': '593ba0c29251410593009be3', 'de..."
528,Family Animation Romance Comedy,455661,in a heartbeat,2017.0,[],"[{'credit_id': '5981a15c92514151e0011b51', 'de..."
529,Crime Drama Thriller,404604,mom,2017.0,"[{'cast_id': 1, 'character': 'Devki Sabarwal',...","[{'credit_id': '58ee55bbc3a3683df500bd0f', 'de..."
530,NaN,461257,queerama,2017.0,[],"[{'credit_id': '593e676c92514105b702e68e', 'de..."

In [34]:
data1=data1.rename(columns={'title':'movie_title'})

#### getting actors name

In [101]:
actors_name=[]
for i in range(len(data1)):
    cast=[]
    for j in data1['cast'][i]:
        cast.append(j.get('name'))
    actors_name.append(cast)

In [113]:
actor_1_name=[]
for i in actors_name:
    if i!=[]:
        actor_1_name.append(i[0])
    else:
        actor_1_name.append('Unknown')

In [115]:
actor_2_name=[]
for i in actors_name:
    if i!=[] and len(i)>2:
        actor_2_name.append(i[1])
    else:
        actor_2_name.append('Unknown')

In [117]:
actor_3_name=[]
for i in actors_name:
    if i!=[] and len(i)>2:
        actor_3_name.append(i[2])
    else:
        actor_3_name.append('Unknown')

In [118]:
data1['actor_1_name']=actor_1_name
data1['actor_2_name']=actor_2_name
data1['actor_3_name']=actor_3_name

In [143]:
director=[]
for i in range(len(data1)):
    dirc=[]
    for j in data1['crew'][i]:
        if j.get('job')=='Director':
            dirc.append(j.get('name'))
    if dirc==[]:
        director.append('Unknown')
    else:
        director.append(dirc[0])

In [144]:
len(director)

531

In [145]:
len(actor_1_name)

531

In [146]:
len(actor_2_name)

531

In [147]:
data1['director_name']=director

In [150]:
movie=data1[['movie_title','genres','director_name','actor_1_name','actor_2_name','actor_3_name']]

In [151]:
movie

,movie_title,genres,director_name,actor_1_name,actor_2_name,actor_3_name
0,pirates of the caribbean: dead men tell no tales,Adventure Action Fantasy Comedy,Joachim Rønning,Johnny Depp,Javier Bardem,Geoffrey Rush
1,justice league,Action Adventure Fantasy Sci-Fi,Zack Snyder,Ben Affleck,Henry Cavill,Gal Gadot
2,thor: ragnarok,Action Adventure Fantasy Sci-Fi,Taika Waititi,Chris Hemsworth,Tom Hiddleston,Cate Blanchett
3,guardians of the galaxy vol. 2,Action Adventure Comedy Sci-Fi,James Gunn,Chris Pratt,Zoe Saldana,Dave Bautista
4,the king's daughter,Fantasy Action Adventure,Sean McNamara,Pierce Brosnan,William Hurt,Benjamin Walker
...,...,...,...,...,...,...
526,thick lashes of lauri mäntyvaara,Romance Comedy,Hannaleena Hauru,Inka Haapamäki,Rosa Honkonen,Tiitus Rantala
527,cop and a half: new recruit,Crime Comedy Action Family,Jonathan A. Rosenbaum,Lou Diamond Phillips,Wallace Shawn,Gina Holden
528,in a heartbeat,Family Animation Romance Comedy,Beth David,Unknown,Unknown,Unknown
529,mom,Crime Drama Thriller,Ravi Udyawar,Sridevi Kapoor,Sajal Ali,Akshaye Khanna
530,queerama,NaN,Daisy Asquith,Unknown,Unknown,Unknown

In [152]:
movie.isna().sum()

movie_title      0
genres           7
director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
dtype: int64

In [153]:
movie=movie.dropna(how='any',)

In [154]:
movie=movie[movie['director_name']!='Unknown']
movie=movie[movie['actor_1_name']!='Unknown']
movie=movie[movie['actor_2_name']!='Unknown']
movie=movie[movie['actor_3_name']!='Unknown']

In [158]:
movie['comb']=movie['actor_1_name']+' '+movie['actor_2_name']+' '+movie['actor_3_name']+' '+movie['director_name']+' '+movie['genres']

In [159]:
movie

,movie_title,genres,director_name,actor_1_name,actor_2_name,actor_3_name,comb
0,pirates of the caribbean: dead men tell no tales,Adventure Action Fantasy Comedy,Joachim Rønning,Johnny Depp,Javier Bardem,Geoffrey Rush,Johnny Depp Javier Bardem Geoffrey Rush Joachi...
1,justice league,Action Adventure Fantasy Sci-Fi,Zack Snyder,Ben Affleck,Henry Cavill,Gal Gadot,Ben Affleck Henry Cavill Gal Gadot Zack Snyder...
2,thor: ragnarok,Action Adventure Fantasy Sci-Fi,Taika Waititi,Chris Hemsworth,Tom Hiddleston,Cate Blanchett,Chris Hemsworth Tom Hiddleston Cate Blanchett ...
3,guardians of the galaxy vol. 2,Action Adventure Comedy Sci-Fi,James Gunn,Chris Pratt,Zoe Saldana,Dave Bautista,Chris Pratt Zoe Saldana Dave Bautista James Gu...
4,the king's daughter,Fantasy Action Adventure,Sean McNamara,Pierce Brosnan,William Hurt,Benjamin Walker,Pierce Brosnan William Hurt Benjamin Walker Se...
...,...,...,...,...,...,...,...
524,the incredible jessica james,Romance Comedy,Jim Strouse,Jessica Williams,Chris O'Dowd,Keith Stanfield,Jessica Williams Chris O'Dowd Keith Stanfield ...
525,can't buy my love,Romance,Farhad Mann,Adelaide Kane,Benjamin Hollingsworth,Jean Louisa Kelly,Adelaide Kane Benjamin Hollingsworth Jean Loui...
526,thick lashes of lauri mäntyvaara,Romance Comedy,Hannaleena Hauru,Inka Haapamäki,Rosa Honkonen,Tiitus Rantala,Inka Haapamäki Rosa Honkonen Tiitus Rantala Ha...
527,cop and a half: new recruit,Crime Comedy Action Family,Jonathan A. Rosenbaum,Lou Diamond Phillips,Wallace Shawn,Gina Holden,Lou Diamond Phillips Wallace Shawn Gina Holden...
529,mom,Crime Drama Thriller,Ravi Udyawar,Sridevi Kapoor,Sajal Ali,Akshaye Khanna,Sridevi Kapoor Sajal Ali Akshaye Khanna Ravi U...

In [160]:
movie2=pd.read_csv('data1 movie_metadata_cleaned.csv')

In [161]:
movie2['comb']=movie2['actor_1_name']+' '+movie2['actor_2_name']+' '+movie2['actor_3_name']+' '+movie2['director_name']+' '+movie2['genres']

In [162]:
movie2

,movie_title,genres,director_name,actor_1_name,actor_2_name,actor_3_name,comb
0,avatar,Action Adventure Fantasy Sci-Fi,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,CCH Pounder Joel David Moore Wes Studi James C...
1,pirates of the caribbean: at world's end,Action Adventure Fantasy,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,spectre,Action Adventure Thriller,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,the dark knight rises,Action Thriller,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,star wars: episode vii - the force awakens ...,Documentary,Doug Walker,Doug Walker,Rob Walker,Unknown,Doug Walker Rob Walker Unknown Doug Walker Doc...
...,...,...,...,...,...,...,...
5038,signed sealed delivered,Comedy Drama,Scott Smith,Eric Mabius,Daphne Zuniga,Crystal Lowe,Eric Mabius Daphne Zuniga Crystal Lowe Scott S...
5039,the following,Crime Drama Mystery Thriller,Unknown,Natalie Zea,Valorie Curry,Sam Underwood,Natalie Zea Valorie Curry Sam Underwood Unknow...
5040,a plague so pleasant,Drama Horror Thriller,Benjamin Roberds,Eva Boehnke,Maxwell Moody,David Chandler,Eva Boehnke Maxwell Moody David Chandler Benja...
5041,shanghai calling,Comedy Drama Romance,Daniel Hsia,Alan Ruck,Daniel Henney,Eliza Coupe,Alan Ruck Daniel Henney Eliza Coupe Daniel Hsi...
5042,my date with drew,Documentary,Jon Gunn,John August,Brian Herzlinger,Jon Gunn,John August Brian Herzlinger Jon Gunn Jon Gunn...

In [163]:
movie2.to_csv('data1 movie_metadata_cleaned.csv',index=False)

In [164]:
movie.to_csv('data2 movie_metadata_cleaned.csv',index=False)

In [165]:
new=movie.append(movie2)

C:\Users\HP\AppData\Local\Temp\ipykernel_6736\3570828380.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new=movie.append(movie2)

In [166]:
new

,movie_title,genres,director_name,actor_1_name,actor_2_name,actor_3_name,comb
0,pirates of the caribbean: dead men tell no tales,Adventure Action Fantasy Comedy,Joachim Rønning,Johnny Depp,Javier Bardem,Geoffrey Rush,Johnny Depp Javier Bardem Geoffrey Rush Joachi...
1,justice league,Action Adventure Fantasy Sci-Fi,Zack Snyder,Ben Affleck,Henry Cavill,Gal Gadot,Ben Affleck Henry Cavill Gal Gadot Zack Snyder...
2,thor: ragnarok,Action Adventure Fantasy Sci-Fi,Taika Waititi,Chris Hemsworth,Tom Hiddleston,Cate Blanchett,Chris Hemsworth Tom Hiddleston Cate Blanchett ...
3,guardians of the galaxy vol. 2,Action Adventure Comedy Sci-Fi,James Gunn,Chris Pratt,Zoe Saldana,Dave Bautista,Chris Pratt Zoe Saldana Dave Bautista James Gu...
4,the king's daughter,Fantasy Action Adventure,Sean McNamara,Pierce Brosnan,William Hurt,Benjamin Walker,Pierce Brosnan William Hurt Benjamin Walker Se...
...,...,...,...,...,...,...,...
5038,signed sealed delivered,Comedy Drama,Scott Smith,Eric Mabius,Daphne Zuniga,Crystal Lowe,Eric Mabius Daphne Zuniga Crystal Lowe Scott S...
5039,the following,Crime Drama Mystery Thriller,Unknown,Natalie Zea,Valorie Curry,Sam Underwood,Natalie Zea Valorie Curry Sam Underwood Unknow...
5040,a plague so pleasant,Drama Horror Thriller,Benjamin Roberds,Eva Boehnke,Maxwell Moody,David Chandler,Eva Boehnke Maxwell Moody David Chandler Benja...
5041,shanghai calling,Comedy Drama Romance,Daniel Hsia,Alan Ruck,Daniel Henney,Eliza Coupe,Alan Ruck Daniel Henney Eliza Coupe Daniel Hsi...
5042,my date with drew,Documentary,Jon Gunn,John August,Brian Herzlinger,Jon Gunn,John August Brian Herzlinger Jon Gunn Jon Gunn...

In [167]:
new=new.drop_duplicates(subset='movie_title',keep='last')

In [169]:
len(new)

5364

In [172]:
new.to_csv('movie_data.csv')