In [39]:
link='https://en.wikipedia.org/wiki/List_of_American_films_of_2019'

In [40]:
import pandas as pd
import numpy as np

In [41]:
df1=pd.read_html(link,header=0)[2]
df2=pd.read_html(link,header=0)[3]
df3=pd.read_html(link,header=0)[4]
df4=pd.read_html(link,header=0)[5]

In [42]:
df1.head()

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.
0,JANUARY,4,Escape Room,Columbia Pictures / Original Film,"Adam Robitel (director); Bragi F. Schut, Maria...",[2]
1,JANUARY,4,Rust Creek,IFC Films,Jen McGowan (director); Julie Lipson (screenpl...,[3]
2,JANUARY,4,American Hangman,Hangman Justice Productions,Wilson Coneybeare (director/screenplay); Donal...,[4]
3,JANUARY,11,A Dog's Way Home,Columbia Pictures,Charles Martin Smith (director); W. Bruce Came...,[5]
4,JANUARY,11,The Upside,STX Entertainment,Neil Burger (director); Jon Hartmere (screenpl...,[6]

In [43]:
df2.head()

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.
0,APRIL,5,Shazam!,Warner Bros. Pictures / New Line Cinema / DC F...,David F. Sandberg (director); Henry Gayden (sc...,[51]
1,APRIL,5,Pet Sematary,Paramount Pictures,"Kevin Kolsch, Dennis Widmyer (directors); Jeff...",[52]
2,APRIL,5,The Best of Enemies,STX Entertainment,Robin Bissell (director/screenplay); Taraji P....,[53]
3,APRIL,5,High Life,A24 / Arte / ZDF / Canal+ / Ciné+,Claire Denis (director/screenplay); Jean-Pol F...,[54]
4,APRIL,5,Unicorn Store,Netflix,Brie Larson (director); Samantha McIntyre (scr...,NaN

In [44]:
df3.head()

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.
0,JULY,3,Spider-Man: Far From Home,Columbia Pictures / Marvel Studios,"Jon Watts (director); Chris McKenna, Erik Somm...",[115]
1,JULY,3,Escape Plan: The Extractors,Summit Entertainment,"John Herzfeld (director); John Herzfeld, Miles...",[116]
2,JULY,3,Midsommar,A24,Ari Aster (director/screenplay); Florence Pugh...,[117]
3,JULY,12,Stuber,20th Century Fox,Michael Dowse (director); Tripper Clancy (scre...,[118]
4,JULY,12,Crawl,Paramount Pictures / Ghost House Pictures,"Alexandre Aja (director); Shawn Rasmussen, Mic...",[119]

In [45]:
df4.head()

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.
0,OCTOBER,4,Joker,Warner Bros. Pictures / Village Roadshow Pictu...,Todd Phillips (director/screenplay); Scott Sil...,[169]
1,OCTOBER,4,Lucy in the Sky,Fox Searchlight Pictures,Noah Hawley (director/screenplay); Brian C. Br...,[170]
2,OCTOBER,4,Dolemite Is My Name,Netflix,Craig Brewer (director); Scott Alexander and L...,[165]
3,OCTOBER,4,In the Tall Grass,Netflix,Vincenzo Natali (director/screenplay); Patrick...,NaN
4,OCTOBER,4,Low Tide,A24 / DirecTV Cinema,Kevin McMullin (director/screenplay); Keean Jo...,[171]

In [46]:
df=df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_14236\3617246550.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [47]:
df.shape

(245, 6)

In [48]:
df=df.drop(['Opening','Opening.1','Production company','Ref.'],axis=1)

In [49]:
df.rename(columns={'Title':'movie_title'},inplace=True)

In [50]:
df['movie_title']=df['movie_title'].str.lower()

In [51]:
df

           movie_title                                      Cast and crew
0          escape room  Adam Robitel (director); Bragi F. Schut, Maria...
1           rust creek  Jen McGowan (director); Julie Lipson (screenpl...
2     american hangman  Wilson Coneybeare (director/screenplay); Donal...
3     a dog's way home  Charles Martin Smith (director); W. Bruce Came...
4           the upside  Neil Burger (director); Jon Hartmere (screenpl...
..                 ...                                                ...
240  spies in disguise  Nick Bruno, Troy Quane (directors); Brad Copel...
241       little women  Greta Gerwig (director/screenplay); Saoirse Ro...
242               1917  Sam Mendes (director/screenplay); Krysty Wilso...
243         just mercy  Destin Daniel Cretton (director/screenplay), A...
244           clemency  Chinonye Chukwu (director/screenplay); Alfre W...

[245 rows x 2 columns]

In [52]:
#getting director
df['director_name']=df['Cast and crew'].str.split('(',expand=True)[0]

In [57]:
df['actors']=df['Cast and crew'].str.split(';',expand=True)[2]

In [59]:
#getting actor1
df['actor_1_name']=df['actors'].str.split(',',expand=True)[0]
#getting actor2
df['actor_2_name']=df['actors'].str.split(',',expand=True)[1]
#getting actor3
df['actor_3_name']=df['actors'].str.split(',',expand=True)[2]

In [61]:
df.drop(['Cast and crew','actors'],axis=1,inplace=True)

In [66]:
df

,movie_title,director_name,actor_1_name,actor_2_name,actor_3_name
0,escape room,Adam Robitel,Taylor Russell,Logan Miller,Deborah Ann Woll
1,rust creek,Jen McGowan,Hermione Corfield,Jay Paulson,Sean O'Bryan
2,american hangman,Wilson Coneybeare,Unknown,Unknown,Unknown
3,a dog's way home,Charles Martin Smith,Bryce Dallas Howard,Edward James Olmos,Alexandra Shipp
4,the upside,Neil Burger,Bryan Cranston,Kevin Hart,Nicole Kidman
...,...,...,...,...,...
240,spies in disguise,"Nick Bruno, Troy Quane",Will Smith,Tom Holland,Rashida Jones
241,little women,Greta Gerwig,Unknown,Unknown,Unknown
242,1917,Sam Mendes,George MacKay,Dean-Charles Chapman,Mark Strong
243,just mercy,Destin Daniel Cretton,Unknown,Unknown,Unknown
244,clemency,Chinonye Chukwu,Unknown,Unknown,Unknown

In [68]:
#getting genres
import tmdbv3api
from tmdbv3api import TMDb
import requests
import json
tmdb=TMDb()
tmdb.api_key='e770358dbe349592b1fba6cb607230fb'

In [74]:
from tmdbv3api import Movie
tmdb_movie=Movie()
def get_genre(x):
    genres=[]
    result=tmdb_movie.search(x)
    movie_id=result[0].id
    response=requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
    data_json=response.json()
    if data_json['genres']:
        genre_str=' '
        for i in range(0,len(data_json['genres'])):
            genres.append(data_json['genres'][i]['name'])
            return genre_str.join(genres)
        else:
            np.NaN

In [75]:
df['genres']=df['movie_title'].map(lambda x:get_genre(str(x)))

In [79]:
df.isna().sum()

movie_title      0
director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
comb             0
dtype: int64

In [78]:
df['comb']=df['actor_1_name']+' '+df['actor_2_name']+' '+df['actor_3_name']+' '+df['director_name']+' '+df['genres']

In [80]:
df=df[['movie_title','genres','director_name','actor_1_name','actor_2_name','actor_3_name','comb']]

In [81]:
df

,movie_title,genres,director_name,actor_1_name,actor_2_name,actor_3_name,comb
0,escape room,Horror,Adam Robitel,Taylor Russell,Logan Miller,Deborah Ann Woll,Taylor Russell Logan Miller Deborah Ann Wol...
1,rust creek,Thriller,Jen McGowan,Hermione Corfield,Jay Paulson,Sean O'Bryan,Hermione Corfield Jay Paulson Sean O'Bryan ...
2,american hangman,Thriller,Wilson Coneybeare,Unknown,Unknown,Unknown,Unknown Unknown Unknown Wilson Coneybeare Thr...
3,a dog's way home,Drama,Charles Martin Smith,Bryce Dallas Howard,Edward James Olmos,Alexandra Shipp,Bryce Dallas Howard Edward James Olmos Alex...
4,the upside,Comedy,Neil Burger,Bryan Cranston,Kevin Hart,Nicole Kidman,Bryan Cranston Kevin Hart Nicole Kidman Nei...
...,...,...,...,...,...,...,...
240,spies in disguise,Animation,"Nick Bruno, Troy Quane",Will Smith,Tom Holland,Rashida Jones,Will Smith Tom Holland Rashida Jones Nick B...
241,little women,Drama,Greta Gerwig,Unknown,Unknown,Unknown,Unknown Unknown Unknown Greta Gerwig Drama
242,1917,War,Sam Mendes,George MacKay,Dean-Charles Chapman,Mark Strong,George MacKay Dean-Charles Chapman Mark Str...
243,just mercy,Drama,Destin Daniel Cretton,Unknown,Unknown,Unknown,Unknown Unknown Unknown Destin Daniel Cretton ...
244,clemency,Drama,Chinonye Chukwu,Unknown,Unknown,Unknown,Unknown Unknown Unknown Chinonye Chukwu Drama

In [82]:
data=pd.read_csv('movie_data.csv')

In [83]:
data.shape

(5637, 8)

In [85]:
data=data.drop('Unnamed: 0',axis=1)

In [86]:
data=data.append(new_data,ignore_index=True)

NameError: name 'new_data' is not defined